.navbar
{
    background:url(img/bg-header.png) repeat-x bottom center;
    position: fixed;
    width: 100%;
}

.navbar-light .navbar-brand {
    color: white;
}

.nav-link
{
    color: white;
}

.navbar-brand
{
    color: white;
}

a:hover
{
    color: #f0ad4e;
}

.active a 
{
    color: #f0ad4e !important; 
}